.bold{
    font-weight: 900;
}
.cur{
    font-style: italic;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
}
.bg {
    background: rgb(0, 148, 255) url(../img/image.jpg) repeat-y 100%;
    color: white
}